<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Reports History</title>
</head>
<body class="d-flex h-100">
    <%= require("html-loader!/components/menu.html").default %>
    <div class="d-flex flex-column w-100 ">
        <header class="d-flex justify-content-center flex-column  h-25 w-100 bg bg-dark  mb-5">
            <div class="d-flex justify-content-center btn-group btn-radio mb-4">
                <button  class="btn btn-secondary bg-dark border-warning"><a href="teamReports.html" class="h6 nav-link">Immediate Team</a></button>
                <button  class="btn btn-secondary bg-dark border-warning"><p class="h6">Extended Team</p></button>
            </div>
            <h3 class="d-flex justify-content-center text-white mb-4" style="font-family:Arial, Helvetica, sans-serif"><strong>Weekly Reports History</strong></h3>
            <h5 class="d-flex justify-content-center text-white">Get a bigger picture of how your team has been doing over time.</h5>
        </header>
        <div class="d-flex flex-row justify-content-center mb-4">
            <button  class="btn btn-secondary bg-dark border-warning"><p class="h6">Some info</p></button>
            <button  class="btn btn-secondary bg-dark border-warning"><p class="h6">Some info</p></button>
            <button  class="btn btn-secondary bg-dark border-warning"><p class="h6">Some info</p></button>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <button  class="btn btn-secondary bg-dark border-warning"><p class="h6">Some info</p></button>
            <button  class="btn btn-secondary bg-dark border-warning"><p class="h6">Some info</p></button>
            <button  class="btn btn-secondary bg-dark border-warning"><p class="h6">Some info</p></button>
            <button  class="btn btn-secondary bg-dark border-warning"><p class="h6">Some info</p></button>
        </div>

        <h4 class="d-flex justify-content-center mt-5 " style = "font-weight: bold;">EXTENDED TEAM AVERAGE</h4>
        <div class="d-flex justify-content-end m-0 mx-5 mt-5">
            <p>9w ago</p>
            <p class="ms-4">8w ago</p>
            <p class="ms-3">7w ago</p>
            <p class="ms-4">6w ago</p>
            <p class="ms-4">5w ago</p>
            <p class="ms-4">4w ago</p>
            <p class="ms-4">3w ago</p>
            <p class="ms-3">2w ago</p>
            <p class="ms-4">1w ago</p>
            <p class="ms-4 me-5">Current</p>
        </div>
        <div class="d-flex justify-content-between bg bg-white shadow mx-5 pe-5 "> 
            <p class="h6 my-4 ms-3 fw-bold">Overall</p>
            <div class="d-flex flex-row ">
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-emoji-smile mt-2 ms-4" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-emoji-neutral mt-2 ms-4" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5z"/>
                </svg>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-emoji-frown mt-2 ms-4" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                  </svg>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
            </div>
        </div>
        <h4 class="d-flex justify-content-center mt-5 " style = "font-weight: bold;">EXTENDED TEAM</h4>
        <div class="d-flex justify-content-end m-0 mx-5 mt-5">
            <p>9w ago</p>
            <p class="ms-4">8w ago</p>
            <p class="ms-3">7w ago</p>
            <p class="ms-4">6w ago</p>
            <p class="ms-4">5w ago</p>
            <p class="ms-4">4w ago</p>
            <p class="ms-4">3w ago</p>
            <p class="ms-3">2w ago</p>
            <p class="ms-4">1w ago</p>
            <p class="ms-4 me-5">Current</p>
        </div>
        <div class="d-flex justify-content-between bg bg-white shadow mx-5 pe-5 "> 
            <p class="h6 my-4 ms-3 fw-bold">Overall</p>
            <div class="d-flex flex-row ">
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-emoji-smile mt-2 ms-4" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-emoji-neutral mt-2 ms-4" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5zm3-4C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zm4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5S9.448 8 10 8s1-.672 1-1.5z"/>
                </svg>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-emoji-frown mt-2 ms-4" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
                  </svg>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
                <div class="rounded-circle clear mt-2 ms-4">&nbsp;</div>
            </div>
        </div>
    </div>
    <%= require("html-loader!./components/helpButton.html").default %>
    <%= require("html-loader!./components/feedbackButton.html").default %>
</body>
</html>