<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Team Members</title>
    </head>
    <body class="d-flex flex-row h-100">
      <%= require("html-loader!/components/menu.html").default %>
      <div class="d-flex flex-column w-100">
        <header class="d-flex flex-column  h-25 bg bg-dark  mb-5">
            <h1 class="d-flex justify-content-center text-white display-2 mt-5" style = "font-weight: bold; font-family: 'Times New Roman', Times, serif">Anatoly Kolodkin</h1>
            <h5 class="d-flex justify-content-center text-white" style="font-family:Arial, Helvetica, sans-serif">anatoliy@ankosoftware.com</h5>
        </header>
        <section class="d-flex flex-column flex-fill align-items-center w-100 p-5">
          <h5 class=""><strong>TEAM MEMBERS</strong></h5>
          <hr class="border border-5 border-warning">

          <div class="shadow-sm rounded-0 d-flex flex-row card w-75 mb-2">
            <div class="card-body">
              Alexandr Evseev
            </div>
            <h6 class="mt-3 me-3">Edit</h6>
          </div>
          <div class="shadow-sm rounded-0 d-flex flex-row card w-75 mb-2">
            <div class="card-body">
              Nikolai Kapustin
            </div>
            <h6 class="mt-3 me-3">Edit</h6>
          </div>
          <div class="shadow-sm rounded-0 d-flex flex-row card w-75 mb-2">
            <div class="card-body">
              Anatoliy Kolodkin
            </div>
            <h6 class="mt-3 me-3">Edit</h6>
          </div>
          <div class="shadow-sm rounded-0 d-flex flex-row card w-75 mb-2">
            <div class="card-body">
              Anna Kotova
            </div>
            <h6 class="mt-3 me-3">Edit</h6>
          </div>
          <div class="shadow-sm rounded-0 d-flex flex-row card w-75 mb-2">
            <div class="card-body">
              Nina Mammadova
            </div>
            <h6 class="mt-3 me-3">Edit</h6>
          </div>
          <div class="shadow-sm rounded-0 d-flex flex-row card w-75 mb-2">
            <div class="card-body">
              Natalia Starkova
            </div>
            <h6 class="mt-3 me-3">Edit</h6>
          </div>
          <div class="shadow-sm rounded-0 d-flex flex-row card w-75 mb-2">
            <div class="card-body">
              Anton Tarkhanov
            </div>
            <h6 class="mt-3 me-3">Edit</h6>
          </div>
          <div class="shadow-sm rounded-0 d-flex flex-row card w-75">
            <div class="card-body">
              Alexandr Vovchuk
            </div>
            <h6 class="mt-3 me-3">Edit</h6>
          </div>
        </section>
        </div>
      <%= require("html-loader!./components/helpButton.html").default %>
      <%= require("html-loader!./components/feedbackButton.html").default %>
    </body>
    
</html>
