@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/_mixins.scss";

$yellow: #f0c815;

$nav-pills-link-active-bg: #1f2426;
$nav-link-color:white;
$nav-link-hover-color: $yellow;

$bootstrap-icons-font-dir: '../../node_modules/bootstrap-icons/font/fonts';