<aside class="d-flex flex-column h-100 sidebar p-3">
    <img src=".././img/logo.png" class="w-75 ms-4">

    <nav class="d-flex flex-column justify-content-between align-content-between h-100">
        <ul class="flex-row nav nav-pills nav-fill">
            <li class="nav-item"><a href="index.html" class="nav-link active text-start mb-2 p-3" style="font-weight: bold;">Launch guide</a></li>
            <li class="nav-item"><a href="inviteYourTeam.html" class="nav-link text-start mb-2 p-3">Invite Your Team</a></li>
            <li class="nav-item"><a href="teamReports.html" class="nav-link text-start mb-2 p-3">Team Reports</a></li>
            <li class="nav-item"><a href="myReports.html" class="nav-link text-start mb-2 p-3">My Reports</a></li>
            <li class="nav-item"><a href="fillOutReport.html" class="nav-link text-start mb-2 p-3">Fill out a Report</a></li>
        </ul>

        <ul class="flex-column nav nav-pills nav-fill">
            <li class="nav-item"><a href="#" class="nav-link text-start mb-4 p-3">Back to Elite</a></li>
            <li class="nav-item"><a href="editCorpInfo.html" class="nav-link text-start mb-4 p-3">My Company</a></li>
            <li class="nav-item"><a href="editUserInfo.html" class="nav-link text-start mb-2 p-3"><i class="bi bi-gear-fill"></i>&nbsp;My Profile</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-start mb-2 p-3"><i class="bi bi-box-arrow-left"></i>&nbsp;Sign Out</a></li>
        </ul>
    </nav>
</aside>
